# CodeIgniter 4 Ignored Files

# Logs
tmp/
logs/

# Cache
cache/

# Config
app/Config/Cache.php

# Application files
app/Config/Constants.php

# Composer
vendor/
composer.lock

# IDE
.vscode/
.idea/

# Miscellaneous
.DS_Store
*.swp
*.swo
